{
  "user123": "https://script.google.com/macros/s/1/exec",
  "user456": "https://script.google.com/macros/s/2/exec",
  "user789": "https://script.google.com/macros/s/3/exec",
  "user101": "https://script.google.com/macros/s/4/exec"
}
